.scroll-container {
    color: white;
    width: 75%;
    margin-top: 40px;
    max-height: 65%;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid #262626;
    border-radius: 20px;
    box-shadow: 0 0 50px 5px rgba(255, 255, 255, 0.1);
}

.scroll-container:hover {
    box-shadow: 0 0 50px 30px rgba(255, 255, 255, 0.1);
}

/* display card mode */
.display-card-container {
    margin: 20px 20px 20px 20px;
    border-radius: 15px;
    border: 1px solid #262626;
    padding: 10px 20px 5px 20px;
    display: flex;
    flex-direction: column;
}

.display-card-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    height: 100%;
}

#display-buttons {
    margin-top: 5px;
}

.card-button {
    width: 49%;
    color: white;
    background-color: #262626;
    border-color: rgb(26, 26, 26);
    border-width: 0 0 2px 0;
    border-style: solid;
    border-radius: 15px;
    margin: 0;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

#display-edit-button:hover {
    background-color: #ffa600;
    border-color: rgba(59, 42, 19, 0.86);
    box-shadow: 0 0 35px 5px rgba(255, 166, 0, 0.42);
    color: #1c1c1c;
}

#display-delete-button:hover {
    background-color: #f81e1e;
    border-color: rgba(59, 42, 19, 0.86);
    box-shadow: 0 0 35px 5px rgba(234, 99, 110, 0.42);
    color: #1c1c1c;
}

.display-field {
    border: 1px solid #262626;
    background-color: #111111;
    width: 49%;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}

.display-name-field {
    display: flex;
    width: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: 150%;
}

.display-surname {
    margin-left: 1%;
}

/* edit card mode */
.edit-card-container {
    margin: 20px 20px 20px 20px;
    border-radius: 15px;
    border: 1px solid #262626;
    padding: 10px 20px 5px 20px;
    display: flex;
    flex-direction: column;
}

.edit-card-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    height: 100%;
}

.edit-card-block {
    height: 65px;
    flex-basis: 48%;
    border: 1px solid #1c1c1c;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#edit-card-field-radio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    font-size: 25px;
}

.edit-card-block label {
    color: white;
    box-sizing: content-box;
}

.edit-card-block input {
    width: 140px;
    height: 20px;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 7px;
    transform: scale(1.2);
    box-sizing: content-box;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 90px;
}

#edit-card-block-country {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.edit-select-container {
    margin-left: 80px;
}

.edit-dropdown {
    position: relative;
    cursor: pointer;
    display: flex;
    color: white;
    background-color: black;
    align-content: center;
    text-align: center;
}

.edit-dropdown-toggle {

    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 0 5px 0;
    width: 200px;
}

.edit-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    max-height: 100px;
    border-radius: 10px;
}

.edit-dropdown-item {
    cursor: pointer;
    border: 1px solid #ccc;
    height: 30px;
    align-content: center;
    padding: 0;
    background-color: black;
    border-radius: 8px;
}

.edit-dropdown-item:hover {
    background-color: #ffa600;
    box-shadow: 0 0 10px 5px rgba(255, 166, 0, 0.42);
    border-color: rgba(59, 42, 19, 0.86);
    border-radius: 8px;
    color: black;
    z-index: 1;
}

#save-button:hover {
    background-color: #ffa600;
    border-color: rgba(59, 42, 19, 0.86);
    box-shadow: 0 0 35px 5px rgba(255, 166, 0, 0.42);
    color: #1c1c1c;
}

#cancel-button:hover {
    background-color: #f81e1e;
    border-color: rgba(59, 42, 19, 0.86);
    box-shadow: 0 0 35px 5px rgba(234, 99, 110, 0.42);
    color: #1c1c1c;
}

.edit-teem-name-container {
    position: absolute;
    left: 0;
    width: 33%;
    z-index: 1;
    margin-left: 52%;
    top: 70%;
}

.edit-teem-name-menu {
    list-style-type: none;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
    padding: 0;
    max-height: 100px;
    overflow-y: auto;
    margin: 0;
}

.edit-teem-name-item {
    height: 30px;
    text-align: center;
    align-content: center;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 4px;
}

.edit-teem-name-item:hover {
    background-color: #ffa600;
    border-color: rgba(59, 42, 19, 0.86);
    border-radius: 6px;
    color: black;
}

.empty-list {
    text-align: center;
    font-size: 120%;
}

.edit-calendar {
    position: absolute;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 5px;
    padding: 15px;
    z-index: 1;
    margin-left: 6%;
}